<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--Tu ustawić połączenie z bazą danych, Data Source=(localdb)\MSSQLLocalDB to nazwa serwera, Initial Catalog=DbNotesCw4 to nazwa bazy,
    wystarczy ustawić prawidłową nazwę serwera baz danych, baza danych powinna się utworzyć sama podczas pierwszego uruchomienia aplikacji
    uzytkownika do bazy trzeba dodac recznie, gdy baza bedzie utworzona najprosciej mozna to zrobic przez visual studio za pomocą SQL Server Object Explorer
    dostepny w górnym menu w sekcji View
    -->
    <add name="DefaultConnection"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DbNotesCw4;Integrated Security=true"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>